{% extends 'base.html' %}
{% load static %}


{% block title %}Call for Paper{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'conference/poster.css' %}">{% endblock style %}


<body>
{% block isi %}
<div class="leftline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="rightline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <a href="http://puzzle.icositer2021.com/day1/icos1i.png" target="_blank"><div class="puzzelday1" id="puzzel2" ></div></a>

    <div class="postericos">
        <h1>Call for Paper</h1>
        <img src="{% static 'conference/asset/poster.png' %}">
    </div>
    <a href="http://puzzle.icositer2021.com/day1/1km1.png" target="_blank"><div class="puzzelday1" id="puzzelkm2" ></div></a>
{% endblock isi %}
</body>
