{% extends 'base.html' %}
{% load static %}


{% block title %}Previous{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'conference/previus.css' %}">{% endblock style %}


<body>
{% block isi %}
    <div class="leftline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="rightline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  
    <div class="previus">
        <h1>Previous ICoSITeR</h1>
        <div class="previus-main">
            <div class="previus-main-isi">
                <h2>
                    ICoSITeR <b style="color:#FF0411;">2016</b>
                </h2>
                <div class="gambar">
                    <img src="{% static 'conference/asset/ICOS 2016.jpg' %}">
                </div>
                <div class="jurnal">
                    <a href="https://iopscience.iop.org/issue/1755-1315/124/1" target="_blank">Proceeding ICoSITeR 2016</a>
                </div>
            </div>
            <div class="previus-main-isi">
                <h2>
                    ICoSITeR <b style="color:#FF0411;">2017</b>
                </h2>
                <div class="gambar">
                    <img src="{% static 'conference/asset/ICOS 2017.jpg' %}">
                </div>
                <div class="jurnal">
                    <a href="https://journal.itera.ac.id/index.php/jsat/issue/view/4" target="_blank">Proceeding ICoSITeR 2017</a>
                </div>
            </div>
            <div class="previus-main-isi">
                <h2>
                    ICoSITeR <b style="color:#FF0411;">2018</b>
                </h2>
                <div class="gambar">
                    <img src="{% static 'conference/asset/ICOS 2018.jpg' %}">
                </div>
                <div class="jurnal">
                    <a href="https://journal.itera.ac.id/index.php/jsat/issue/view/7" target="_blank">Proceeding ICoSITeR 2018</a>
                </div>
            </div>
            <div class="previus-main-isi">
                <h2>
                    ICoSITeR <b style="color:#FF0411;">2019</b>
                </h2>
                <div class="gambar">
                    <img src="{% static 'conference/asset/ICOS 2019.jpg' %}">
                </div>
                <div class="jurnal">
                    <a href="https://iopscience.iop.org/issue/1755-1315/537/1" target="_blank">Proceeding ICoSITeR 2019</a>
                </div>
            </div>
            <div class="previus-main-isi">
                <h2>
                    ICoSITeR <b style="color:#FF0411;">2020</b>
                </h2>
                <div class="gambar">
                    <img src="{% static 'conference/asset/ICOS 2020.png' %}">
                </div>
                <div class="jurnal">
                    <a href="https://iopscience.iop.org/issue/1755-1315/537/1" target="_blank">Proceeding ICoSITeR 2020</a>
                </div>
            </div>
        </div>
    </div>
{% endblock isi %}
</body>
