{% extends 'base.html' %}
{% load static %}


{% block title %}Registration{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'conference/regis.css' %}">{% endblock style %}


<body>
{% block isi %}
<div class="leftline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="rightline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

  <div class="judul">
    <h1>Conference</h1>
    </div>

    <div class="timeline">
      <div class="lurus">
        <div class="isi1 right">

          <div class="text">
            <div class="garisatas">
              <div class="bulet"></div>
            </div>
            <p><b>Abstract Submission Deadline</b> <br>September 15<sup>th</sup>, 2021</p>
          </div>

          <div class="text">
            <div class="garisatas">
              <div class="bulet"></div>
            </div>
            <p><b>Notification Acceptance</b> <br>September 16<sup>th</sup>, 2021</p>
          </div>

          <div class="text">
            <div class="garisatas">
              <div class="bulet"></div>
            </div>
            <p><b>Payment Deadline (Early Bird)</b> <br>September 18<sup>th</sup>, 2021</p>
          </div>
        </div>

        <div class="luruskanan">
        </div>

      <div class="lurus2">
        <div class="isi1">
          <div class="text">
            <div class="garisatas left">
              <div class="bulet"></div>
            </div>
            <p><b>Payment Deadline (Regular)</b> <br>September 26<sup>th</sup>, 2021</p>
            </div>
            <div class="text">
              <div class="garisatas left">
                <div class="bulet"></div>
              </div>
              <p><b>Conference Date</b> <br>October 1<sup>st</sup> - 2<sup>nd</sup>, 2021</p>
            </div>
            <div class="text">
              <div class="garisatas left">
                <div class="bulet"></div>
              </div>
              <p><b>Full Paper Submission Deadline</b> <br>October 31<sup>st</sup>, 2021</p>
            </div>
        </div>
          <div class="luruskiri">
  
          </div>
          <div class="lurus2">
        
          </div>
      </div>
        <!--
          \<p>Abstract <br>Sep. 15, 2021</p></li>
        <li class="kanan"><div class="bulet"><div class="garing"></div></div></li>
        <li><div class="bulet"><div class="garing"></div></div>Payment (Early) <br> Sep. 18, 2021</li>
        <li class="kanan"><div class="bulet"><div class="garing"></div></div>Payment(Regular) <br>Sep. 26,2021</li>
        <li><div class="bulet"><div class="garing"></div></div>Conference date <br> Oct. 1-2,2021</li>
        <li class="kanan"><div class="bulet"><div class="garing"></div></div>Full Paper <br>Oct. 31, 2021</li>
        -->
      </div>
  </div>


  <div class="harga">
    <h1>Conference fees</h1>
    <img src="{% static 'conference/asset/harga.png' %}">
    <br>
    <div class="container-payment submision">
      <div class="payment">
          <h3>Method of Payment</h3>
          <p>
            Payment can be made by Bank Transfer to the following bank account.<br>
            <table>
              <tr>
                <td>• Account Name </td>
                <td> : <b>Melany Febrina</b></td>
              </tr>
              <tr>
                <td>• Bank Account No </td> 
                <td> : <b>0306224243</b></td>
                </tr>
              <tr>
                <td>• Bank Name </td> 
                <td> : <b>Bank Negara Indonesia (BNI)</b></td>
                </tr>
            </table>
          </p>
      </div>
      <div class="payment-proof submision">
        <a href="https://forms.gle/pJMmbSrgu6cLHtqZ9" role="button" class="btn regist proof">Upload of Proof Transaction</a>
      </div>
    </div>
  </div>

  <h2>Registration</h2>
    <div class="submision">
      <div class="submision-isi">
        <a href="https://forms.gle/AFWybMEZVccoahKR7" role="button" class="btn regist">Registration</a>
      </div>  
    </div>
  <h2>Paper Template & Submission</h2>
  <div class="submision">
    <div class="submision-isi">
      <a href="https://forms.gle/YCXaiqdwSTKwttzv6" role="button" class="btn abstrak">Abstract Submit</a>
      <a href="https://docs.google.com/document/d/12l6Y0va3aqdzdLzm_XszwLKQoRIKRynN/edit?usp=sharing&ouid=104734020518892118079&rtpof=true&sd=true" role="button" class="btn abstrak">Abstract Template</a>
      <a href="https://docs.google.com/document/d/1s6Au_X2YfUGUr3TlF7DwVnfCFc7I3LWN/edit?usp=sharing&ouid=104734020518892118079&rtpof=true&sd=true" role="button" class="btn abstrak">Full Paper Template</a>
    </div>
  </div>
  <h2>List of Participant & Abstract</h2>
  <div class="submision">
    <div class="submision-isi">
        <a href="https://docs.google.com/spreadsheets/d/1I204zrKcFIPzDgfbS0H9wZiktVsf8lkeNyUtY5DvxPg/edit?usp=sharing" role="button" class="btn partisipan">List of Participant</a>
        <a href="https://docs.google.com/spreadsheets/d/1WzBBrYndMK721cZWVcg2zBkjT4RLNhKWgRSFrADzSqE/edit?usp=sharing" role="button" class="btn partisipan">List of Abstract</a>
    </div>
  </div>
  
{% endblock isi %}
</body>
