{% extends 'base.html' %}
{% load static %}


{% block title %}Competition{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'competition/competition.css' %}">{% endblock style %}


<body>
{% block isi %}

  <div class="leftline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="rightline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="judul">
    <h1 class="underline">Competition</h1>
    <div class="garisbawah"></div>
    <br><br>
    <div class="gariskiri">
      <div class="garingataskiri"></div>
      <div class="garishorizontal"></div>
      <div class="garingbawahkiri"></div>
      <div class="garishorizontal-bawah"></div>
    </div>
    <div class="gariskanan">
      <div class="garishorizontal-right"></div>
      <div class="garingataskanan"></div>
      <div class="garishorizontal-right-bawah"></div>
      <div class="garingbawahkanan"></div>
    </div>
    <p>ICoSITeR (International Conference on Science, 
      Infrastructure Technology and Regional Development) is an annual international 
      conference held by the Sumatran Institute of Technology (ITERA) in South Lampung Regency, 
      Lampung Province. In addition to international conferences, this event is expected to accommodate 
      the community, especially students as the younger generation, to practise their innovation and creativity. 
      Therefore, this series of events was created as a means to realize innovation and creativity through 
      competitions held at national and international levels. The competitions in ICOSITER 2021 are held on an 
      international scale which are divided into 3 fields of competitions. By joining this competition, 
      you can make it as a form of testing the knowledge you have learned, you can also get a new 
      relationship with international friends, improve your cooperation and collaboration skills, self-proof, self-appreciation, evaluate your weaknesses, and improve your skills. 
      And of course you'll have the opportunity to get interesting and great prizes.
    </p>
  </div>
  
  

  <div class="competition">
    <p class="download">Competition Guidebook, Twibbon, and ICoSITeR Logo : <a href="https://drive.google.com/drive/folders/1Q4zQFTGaq5ZHxjgn7V86O4j6NQtvsvYi?usp=sharing">Download</a></p>
    <br><br><br>    
    <h1>Branch</h1>
        <div class="garisbawah-competition"></div>
        <div class="cabangcompetition">
            <div class="poster">
                <h2>Poster</h2>
                <div class="isi">
                  <p>ICoSITeR Scientific Poster Design 2021 is an international competition that presents creative and innovative ideas in the form of graphic designs related to 
                    the theme of The Role of Smart City in Realizing Sustainable Development
                    which is intended for students around the world. This activity is part of a series of ICoSITeR (International Conference on Science, Infrastructure Technology and Regional Development) events held by the Sumatra Institute of Technology (ITERA) in South Lampung, Lampung Province.
                  </p>
                  <div class= "registerlomba"><a href="poster/registration" class="tombol">Regist</a></div>
              </div>

              <div class="timeline">
                <ul class="timeline-list">
                  <div class="ujungkeujung"></div>
                  <li><div class="bulet"><div class="garing"></div></div><b>Abstract Registration and Submission</b><br> August 11<sup>th</sup> - September 3<sup>rd</sup>, 2021</li>
                  <li><div class="bulet"><div class="garing"></div></div><b>Finalist Selection Stage</b><br>September 4<sup>th</sup> - 7<sup>th</sup>, 2021</li>
                  <li><div class="bulet"><div class="garing"></div></div><b>Announcement of Top 10 Finalists</b><br> September 8<sup>th</sup>, 2021</li>
                  <li><div class="bulet"><div class="garing"></div></div><b>Poster Design Collection</b><br> September 9<sup>th</sup> – 29<sup>th</sup>, 2021</li>
                  <li><div class="bulet"><div class="garing"></div></div><b>Exhibition and Judging (Presentation)</b><br>October 1<sup>st</sup> – 2<sup>nd</sup>, 2021</li>
                  <li><div class="bulet"><div class="garing"></div></div><b>Winner Announcement</b><br>October 6<sup>th</sup>, 2021</li>
                </ul>
              </div>

            </div>
            <div class="prototype">
                <h2>Prototype</h2>
                <div class="isi">
                  <p>ICoSITeR Prototype Competition 2021 is a prototype competition event held for all undergraduate students from various universities around the world. This activity is part of a series of ICoSITeR (International Conference on Science, Infrastructure Technology and Regional Development) events held by the Sumatran Institute of Technology (ITERA) in South Lampung, Lampung Province.</p>
                  <div class= "registerlomba"><a href="prototype/registration" class="tombol">Regist</a></div>
                </div>  
            </div>

            <div class="timeline">
              <ul class="timeline-list">
                <div class="ujungkeujung"></div>
                <li><div class="bulet"><div class="garing"></div></div><b>Abstract Registration and Submission</b><br> August 11<sup>th</sup> - 31<sup>st</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Finalist Announcement</b><br>September 5<sup>th</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Prototype Creation (2D/3D softfile)</b><br>September 6<sup>th</sup> – 30<sup>th</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Initial Reports Submission</b><br>September 16<sup>th</sup> – 18<sup>th</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Final Reports Submission</b><br>September 28<sup>th</sup> – 30<sup>th</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Exhibition and Judging (Presentation)</b><br>October 1<sup>st</sup> – 2<sup>nd</sup>, 2021</li>
                <li><div class="bulet"><div class="garing"></div></div><b>Winner Announcement</b> <br>October 6<sup>th</sup>, 2021</li>
              </ul>
            </div>


            <div class="prototype">
              <h2>Written Idea</h2>
              <div class="isi">
                <p>ICoSITeR Sumatra Institute of Technology (ITERA) also held a competition, namely Written Idea. A written idea is a concept of change or development that is 
                futuristic, realistic, and long-term written work designed to be published in a journal or book collection of articles, written in a scientific manner adapted 
                to applicable scientific conventions. By considering the theme "Building a Sustainable Country with the Role of Science and Technology in the Smart City Concept" 
                as well as 5 continuous sub-themes with that theme.</p>
                <div class= "registerlomba"><a href="writtenidea/registration" class="tombol">Regist</a></div>
              </div>  
          </div>


          <div class="timeline">
            <ul class="timeline-list">
              <div class="ujungkeujung"></div>
              <li><div class="bulet"><div class="garing"></div></div><b>Registration</b><br>August 11<sup>th</sup> – September 15<sup>th</sup>, 2021</li>
              <li><div class="bulet"><div class="garing"></div></div><b>Submitting Manuscripts</b><br>August 11<sup>th</sup> – September 15<sup>th</sup>, 2021</li>
              <li><div class="bulet"><div class="garing"></div></div><b>Judging Stage One</b><br>September 20<sup>th</sup> - 25<sup>th</sup>, 2021<br></li>
              <li><div class="bulet"><div class="garing"></div></div><b>Judging Stage Two</b><br>September 27<sup>th</sup> – October 3<sup>rd</sup>, 2021)<br></li>
              <li><div class="bulet"><div class="garing"></div></div><b>Winner Announcement</b><br>October 6<sup>th</sup>, 2021</li>
            </ul>
          </div>

        </div>
        <a href="http://puzzle.icositer2021.com/day1/Cicos3.png" target="_blank"><div class="puzzelday1" id="puzzel4" ></div></a>

{% endblock isi %}
</body>
