{% extends 'base.html' %}
{% load static %}

{% block title %}Poster Registrations{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'poster/form.css' %}">{% endblock style %}

<body>
  <div class="main-wrapper">
{% block isi %}
<div class="leftline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="rightline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

  <div class="judul">
    <h1>POSTER REGISTRATIONS</h1>
    <div class="garisbawah"></div>      
      <div class="form-v9">
        <div class="page-content">
          <div class="form-v9-content">
            <form class="form-detail" action="#" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama" name='nama_ketua' required/>
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="email" name='email' required/>
                    <label for="name" class="form-label">Email</label>
                </div>

                <!-- <div class="form-row">
                  <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div> -->
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="number" id="no_telepon" name="no_telepon" value="" required />
                    <label for="phone" class="form-label">Phone Number</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi" name='prodi_ketua' required/>
                    <label for="name" class="form-label">Study Program</label>
                </div>
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="instansi" name='instansi' required/>
                    <label for="name" class="form-label">Institute</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="subtema" name='subtema' required/>
                    <label for="name" class="form-label">Subtheme</label>
                </div>
              </div>

              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama_anggota1" name='nama_anggota1' required/>
                    <label for="name" class="form-label">Member Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi_anggota1" name='prodi_anggota1' required/>
                    <label for="name" class="form-label">Member Study Program</label>
                </div>
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama_anggota2" name='nama_anggota2' required/>
                    <label for="name" class="form-label">Member Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi_anggota2" name='prodi_anggota2' required/>
                    <label for="name" class="form-label">Member Study Program</label>
                </div>
              </div>

              <div class="upload-btn-wrapper form-row">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="actual-btn" name='file_abstrak' required/>
                    <label for="name" class="form-label">File Abstract</label>
                    <span id="file-chosen">No file chosen</span>
                    <!-- {{ form.file_pdf }} -->
              </div>

              <div class="upload-btn-wrapper form-row">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="actual-btn" name='file_ktm' required/>
                    <label for="name" class="form-label">Student ID Card</label>
                    <span id="file-chosen">No file chosen</span>
                    <!-- {{ form.file_pdf }} -->
              </div>

              <div class="upload-btn-wrapper form-row">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="actual-btn" name='file_foltwib' required/>
                    <label for="name" class="form-label">Screenshot Twibbon & Follow</label>
                    <span id="file-chosen">No file chosen</span>
                    <!-- {{ form.file_pdf }} -->
              </div>

              <!-- <div class="form-group">
                    
                    <input type="file" id="actual-btn" hidden/>
                    <button for="actual-btn" class="label-upload">Choose File</button>
                    <span id="file-chosen">No file chosen</span>
              </div> -->
              <div class="form-row-last">
                <input type="submit" class="regist" value="Register" id="register">
              </div>

              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p style="color: black;">Registration Successful</p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
   var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("register");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    
    btn.onclick = function() {
      var namanya = document.getElementById("nama").value;
      var emailnya = document.getElementById("email").value;
      var prodinya = document.getElementById("prodi").value;
      var no_teleponnya = document.getElementById("no_telepon").value;
      var instansinya = document.getElementById("instansi").value;
      var subtemanya = document.getElementById("subtema").value;
      var nama_anggota1nya = document.getElementById("nama_anggota1").value;
      var nama_anggota2nya = document.getElementById("nama_anggota2").value;
      var prodi_anggota1nya = document.getElementById("prodi_anggota1").value;
      var prodi_anggota2nya = document.getElementById("prodi_anggota2").value;
      var filenya = document.getElementById("actual-btn").value;
      
      if(namanya!= "" && emailnya!="" && prodinya!="" && no_teleponnya!="" && instansinya!="" && subtemanya!="" && nama_anggota1nya!="" && nama_anggota2nya!="" && prodi_anggota1nya!="" && prodi_anggota2nya!="" && filenya!="" ){
        modal.style.display = "block";
      }

       
    }

    const fileChosen = document.getElementById('file-chosen');
    const actualBtn = document.getElementById('actual-btn');
    actualBtn.addEventListener('change', function(){
      fileChosen.textContent = this.files[0].name
    })

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


  </script>
{% endblock isi %}
</body>