{% extends 'base.html' %}
{% load static %}

{% block title %}Prototype Registrations{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'regisform/form.css' %}">{% endblock style %}

<body>
  <div class="main-wrapper">
{% block isi %}
<div class="leftline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="rightline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

  <div class="judul">
    <h1>PROTOTYPE REGISTRATION</h1>
    <div class="garisbawah"></div>      
      <div class="form-v9">
        <div class="page-content">
          {% if berhasil %}
            <div id='card' class="animated fadeIn">
                <?xml version="1.0" encoding="utf-8"?>
                  <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                  <img src="{% static 'check-mark.svg' %}"/>
                  <h3 id='status'>
                  Registration Success
                </h3>
              <div id='lower-side'>
                <p id='message'>
                  Thank you. We have sent you email to your registered email account. Please check your email to confirm your data
                </p>
                
              </div>
              <a href="{% url 'home' %}" id="contBtn">Back to Homepage</a>
            </div>

          {% else %}
          <div class="form-v9-content">
            <form class="form-detail" action="#" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama" name='nama_ketua' required/>
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="email" name='email' required/>
                    <label for="name" class="form-label">Email</label>
                </div>

                <!-- <div class="form-row">
                  <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div> -->
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="number" id="no_telepon" name="no_telepon" value="" required />
                    <label for="phone" class="form-label">Phone Number</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi" name='prodi_ketua' required/>
                    <label for="name" class="form-label">Study Program</label>
                </div>
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="instansi" name='instansi' required/>
                    <label for="name" class="form-label">Institute</label>
                </div>
                <div class="form-group form-input form-row cselect">
                    <select id="subtema" name="subtema" required>
                      <option value="" disabled selected hidden></option>
                      <option value="Smart Infrastructure">Smart Infrastructure</option>
                      <option value="Smart Living">Smart Living</option>
                      <option value="Smart Energy">Smart Energy</option>
                      <option value="Smart Farming">Smart Farming</option>
                      <option value="Smart Manufacturing">Smart Manufacturing</option>
                    </select>
                    <label for="name" class="form-label">Subtheme</label>
                </div>
              </div>

              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama_anggota1" name='nama_anggota1' required/>
                    <label for="name" class="form-label">Member's Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi_anggota1" name='prodi_anggota1' required/>
                    <label for="name" class="form-label">Member's Study Program</label>
                </div>
              </div>
              
              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input type="text" id="nama_anggota2" name='nama_anggota2' required/>
                    <label for="name" class="form-label">Member's Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input type="text" id="prodi_anggota2" name='prodi_anggota2' required/>
                    <label for="name" class="form-label">Member's Study Program</label>
                </div>
              </div>

              <div class="form-row-total opsi">
                <div class="form-group form-input form-row">
                    <input class="opsi" type="text" id="nama_anggota3" name='nama_anggota3' placeholder=" " />
                    <label for="name" class="form-label">Member's Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input class="opsi" type="text" id="prodi_anggota3" name='prodi_anggota3' placeholder=" "/>
                    <label for="name" class="form-label">Member's Study Program</label>
                </div>
              </div>

              <div class="form-row-total">
                <div class="form-group form-input form-row">
                    <input class="opsi" type="text" id="nama_anggota4" name='nama_anggota4' placeholder=" " />
                    <label for="name" class="form-label">Member's Name</label>
                </div>
                <div class="form-group form-input form-row">
                    <input class="opsi" type="text" id="prodi_anggota4" name='prodi_anggota4' placeholder=" " />
                    <label for="name" class="form-label">Member's Study Program</label>
                </div>
              </div>

              <div class="label-info satu">
                  <label for="name" class="tombol_up">Abstract File
                  <div class="info-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="info-text">
                      <h5>File Description</h5>
                      File format name : [Team name]_[Institution]_[Subtheme]_Final Report.pdf
                      <br>
                      <span style="color:#8BEDFF;">
                        Example : Cool Team_Sumatera Institute of Technology_Smart Living_Final Report.pdf
                      </span>
                    </div>
                  </div>
                </label>  
              </div>
              <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="file_abstrak" name='file_abstrak' required/>
                    <span id="abstrak_chosen">No file chosen</span>
              </div>
              
              <div class="label-info dua">
                  <label for="name" class="tombol_up">Student ID Card
                  <div class="info-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="info-text">
                      <h5>File Description</h5>
                      Compress leader's and member's Student ID Card into ZIP<br>
                      File name format : [Name of group leader]_Student ID Card.zip<br>
                      <span style="color:#8BEDFF;">
                        Example : Andy Suhendy_Student ID Card.zip
                      </span>
                    </div>
                  </div>
                </label>  
              </div>
              <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="file_ktm" name='file_ktm' required/>
                    <span id="ktm_chosen">No file chosen</span>
              </div>

              <div class="label-info tiga">
                  <label for="name" class="tombol_up">Screenshot Twibbon & Follow
                  <div class="info-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="info-text">
                      <h5>File Description</h5>
                      Screenshot your uploaded twibbon and proof that you had followed @icositeritera on Instagram<br>
                      Compress those file to ZIP<br>
                      File name format : [Name of group leader]_Screenshot.zip<br>
                      <span style="color:#8BEDFF;">
                        Example : Andy Suhendy_Screenshot.zip
                      </span>
                    </div>
                  </div>
                </label>  
              </div>
              <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input type="file" id="file_foltwib" name='file_foltwib' required/>
                    <span id="foltwib_chosen">No file chosen</span>
              </div>

              <!-- <div class="form-group">
                    
                    <input type="file" id="actual-btn" hidden/>
                    <button for="actual-btn" class="label-upload">Choose File</button>
                    <span id="file-chosen">No file chosen</span>
              </div> -->
              <div class="form-row-last">
                <input type="submit" class="regist" value="Register" id="register">
              </div>

              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p style="color: black;">Registration Successful</p>
                </div>
              </div>

            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="kontak">
      <h1>Contact Person</h1>
      <div class="kontak-list">
        <div class="kontak-list-isi">
          <i class="fab fa-whatsapp"> </i>
          <p class="kontak-list-isi-teks">Meilinda: 0895 3737 72817</p>
        </div>
        <div class="kontak-list-isi">
          <i class="fab fa-whatsapp"> </i>
          <p class="kontak-list-isi-teks">Rara: 0812 7862 3110</p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
   var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("register");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    
    btn.onclick = function() {
      var namanya = document.getElementById("nama").value;
      var emailnya = document.getElementById("email").value;
      var prodinya = document.getElementById("prodi").value;
      var no_teleponnya = document.getElementById("no_telepon").value;
      var instansinya = document.getElementById("instansi").value;
      var subtemanya = document.getElementById("subtema").value;
      var nama_anggota1nya = document.getElementById("nama_anggota1").value;
      var nama_anggota2nya = document.getElementById("nama_anggota2").value;
      var nama_anggota3nya = document.getElementById("nama_anggota3").value;
      var nama_anggota4nya = document.getElementById("nama_anggota4").value;
      var prodi_anggota1nya = document.getElementById("prodi_anggota1").value;
      var prodi_anggota2nya = document.getElementById("prodi_anggota2").value;
      var prodi_anggota3nya = document.getElementById("prodi_anggota3").value;
      var prodi_anggota4nya = document.getElementById("prodi_anggota4").value;
      var file_abs = document.getElementById("file_abstrak").value;
      var file_kt = document.getElementById("file_ktm").value;
      var file_fol = document.getElementById("file_foltwib").value;
      
      if(namanya!= "" && emailnya!="" && prodinya!="" && no_teleponnya!="" && instansinya!="" && subtemanya!="" && nama_anggota1nya!="" && nama_anggota2nya!="" && nama_anggota3nya!="" && nama_anggota4nya!="" && prodi_anggota1nya!="" && prodi_anggota2nya!="" && prodi_anggota3nya!="" && prodi_anggota4nya!="" && file_abs!="" && file_kt!="" && filefol!=""){
        modal.style.display = "block";
      }
    }

    const abstrakChosen = document.getElementById('abstrak_chosen');
    const actualAbstrak = document.getElementById('file_abstrak');
    actualAbstrak.addEventListener('change', function(){
      abstrakChosen.textContent = this.files[0].name
    })

    const ktmChosen = document.getElementById('ktm_chosen');
    const actualKtm = document.getElementById('file_ktm');
    actualKtm.addEventListener('change', function(){
      ktmChosen.textContent = this.files[0].name
    })
    
    const foltwibChosen = document.getElementById('foltwib_chosen');
    const actualFoltwib = document.getElementById('file_foltwib');
    actualFoltwib.addEventListener('change', function(){
      foltwibChosen.textContent = this.files[0].name
    })

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


  </script>
{% endblock isi %}
</body>
