{% extends 'base.html' %}
{% load static %}


{% block title %}News{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'news/news.css' %}">{% endblock style %}


<body>
{% block isi %}

{% if berita_utama%}
<div class="main-news">
    <a class="news-isi satu" href="{% url 'detail_news' %}">
        <div class="news-isi-gambar"><img src="{{berita_utama.gambar.url}}" ></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">{{berita_utama.tanggal}}</p>
            <h1 class="news-isi-tulisan-judul">{{berita_utama.judul}}</h1>
            <p class="news-isi-tulisan-thumbnail">{{berita_utama.isi|safe}}</p>
        </div>
    </a>
{% endif %}
 
{% for News in berita %}
        <a class="news-isi" href="{% url 'detail_news' %}">
        <div class="news-isi-gambar"><img src="{{News.gambar.url}}" ></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">{{News.tanggal}}</p>
            <h1 class="news-isi-tulisan-judul">{{News.judul}}</h1>
            <p class="news-isi-tulisan-thumbnail">{{News.isi|safe}}</p>
        </div>
    </a>
{% endfor %}
</div>

{% endblock isi %}
</body>
