{% extends 'base.html' %}
{% load static %}


{% block title %}News{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'news/news.css' %}">{% endblock style %}


<body>
{% block isi %}
<div class="main-news">
    <a class="news-isi satu" href="{% url 'detail_news1' %}">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita kesatu</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="{% url 'detail_news2' %}">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita kedua</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita ketiga</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita keempat</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita kelima</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita keenam</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
    <a class="news-isi" href="">
        <div class="news-isi-gambar"></div>
        <div class="news-isi-tulisan">
            <p class="news-isi-tulisan-tanggal">tanggal</p>
            <h1 class="news-isi-tulisan-judul">Judul berita ketuju</h1>
            <p class="news-isi-tulisan-thumbnail">thumbnail</p>
        </div>
    </a>
</div>

{% endblock isi %}
</body>
